<% include ../partials/header %>


<h1>Campground page</h1>


<h1><%= campground.name %></h1>
<img src="<%= campground.image %>" />
<h4>Description</h4>
<p><%= campground.description%></p>

<% campground.comments.forEach((comment) => {%>
<p>"<%= comment.text %>"
<span>-<strong><%= comment.author %> </strong></span></p>
<% }) %>

<a class="btn btn-default btn-primary" type="submit" href="<%=campground._id%>/comments/new">Add comment</a>

<% include ../partials/footer %>
